body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  padding: 0px;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: min(450px, 30%) 1fr;
  grid-template-rows: 45px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  height: 100%;
  width: 100%;
}

.header-bar {
  grid-area: header;
  background-color: #d29797;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 35px;
}

.menu-button img {
  width: 25px;
  height: 30px;
  fill: #ffffff;
}

.menu-button:hover {
  background-color: #fafafa;
  border-radius: 15%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
  color: #ffffff;
  font-size: 20px;
}

.user img {
  width: 35px;
  height: 35px;
  margin: 9px 10px 0px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fafafa;
  padding: 20px;
  height: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: slideIn 0.3s ease;
}

.sidebar.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
    max-width: 0;
    animation: slideOut 0.3s ease;
  }

  .sidebar.collapsed + .tasks{
    grid-column: 1 / span 2;
}

.sidebar .default {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  color: #ababab;
}

.sidebar .default img {
  width: 30px;
  height: 30px;
}

.Inbox,
.Today,
.Upcoming {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.inbox-count,
.today-count {
  margin-left: auto;
}

.Inbox:hover,
.Today:hover,
.Upcoming:hover,
.project:hover {
  background-color: #d29797;
  color: #ffffff;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.projects-header .title {
  font-size: 20px;
  font-weight: 900;
  color: #6c6c6c;
}

.add-project {
  font-size: 35px;
  color: #6c6c6c;
  cursor: pointer;
}

.add-project:hover {
  color: #d29797;
}

.tasks {
  grid-area: main;
  background-color: #ffffff;
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 80%;
}

.tasks-header-title {
  font-size: 30px;
  font-weight: 900;
  padding: 5px;
  border-bottom: 1px solid #cccccc;
  width: 100%;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 20px;
  padding: 20px;
  width: 80%;
}

.task-form input,
.task-form select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-form .task-title,
.task-form .task-description {
  font-size: 35px;
  font-weight: 500;
  border: none;
}

.task-form .task-title:focus,
.task-form .task-description:focus {
  outline: none;
}

.task-form .task-title::placeholder,
.task-form .task-description::placeholder {
  color: #d2d2d2;
}

.task-form .task-description {
  font-size: 16px;
  font-weight: 300;
}

.task-form input[type="submit"],
.task-form button,
.project-form input[type="submit"],
.project-form button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-form input[type="submit"],
.project-form input[type="submit"] {
  background-color: #d29797;
  color: #ffffff;
}

.task-form button,
.project-form button {
  background-color: #fafafa;
  color: #000000;
}

.task-form input[type="submit"]:hover,
.project-form input[type="submit"]:hover {
  background-color: #b76f6f;
}

.task-form button:hover,
.project-form button:hover {
  background-color: #e6e6e6;
}

.task-form input[type="submit"]:focus,
.task-form button:focus,
.project-form input[type="submit"]:focus,
.project-form button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #d29797;
}

.task-list {
  margin-top: 20px;
  width: 80%;
}

.task {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header .left {
  display: flex;
  align-items: center;
}

.task-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
}

.task-body p {
  margin: 5px 0;
}

.task-header .complete-task {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 3px solid #b76f6f;
  border-radius: 50%;
  cursor: pointer;
}

.task-header .complete-task .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #b76f6f;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.task-header .complete-task:hover .checkmark {
  margin-top: 2px;
  opacity: 1;
}

.task-header .complete-task.checked .checkmark {
  opacity: 1;
}

.task-header img.delete-task {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.task-header img.delete-task:hover {
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.add-taskbtn {
  display: flex;
  gap: 15px;
  width: 80%;
  justify-content: flex-start;
  cursor: pointer;
}

.add-taskbtn .add-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 35px;
  height: 35px;
  color: #d29797;
  border-radius: 50%;
}

.add-taskbtn .add-task {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #cccccc;
}

.add-taskbtn:hover {
  .add-symbol {
    background-color: #d29797;
    color: #ffffff;
  }
  .add-task {
    color: #b76f6f;
  }
}

.project-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 400px;
  width: 450px;
  border-radius: 20px;
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.project-form * {
  width: 100%;
}

.project-form h2 {
  padding: 5px;
  margin-right: auto;
  border-bottom: 1px solid #cccccc;
}

.project-form label {
  padding: 5px;
  margin-right: auto;
  margin-bottom: -20px;
}

.project-form input,
.project-form select {
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.project-form .project-title {
  border: none;
  border-bottom: 1px solid #cccccc;
  color: #000;
  font-size: 25px;
}

.project-form select {
  appearance: none;
  background-color: #fafafa;
  color: #000000;
}

.project-form select option {
  padding: 4px;
  background-color: #ffffff;
}

.project-form select:hover {
  border-color: #b76f6f;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  animation: slideIn 0.3s ease;
}

.project .color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.project-title {
  margin-right: auto;
  color: #868686;
}

.delete-project {
  font-size: 25px;
}

.delete-project:hover {
  animation: rotate 0.3s ease;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 600px) {
    .main-container {
      grid-template-columns: 100%;
      grid-template-rows: 45px auto;
      grid-template-areas:
        "header"
        "main";
    }

    .sidebar {
        position: absolute;
        left: 0;
        top: 45px;
        bottom: 0;
        max-width: 100%;
        width: 100%;
        padding: 20px;
        height: 100%;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    
      .sidebar.collapsed {
        display: none; /* Hide the sidebar when collapsed */
      }
    
      .tasks-container {
        grid-area: main;
        background-color: #ffffff;
        padding: 20px;
        height: 100%;
        overflow-y: auto;
        transition: margin-left 0.3s ease;
        width: 100%; /* Set width to 100% */
      }
    
      .sidebar.collapsed ~ .tasks-container {
        margin-left: 0;
      }

    .tasks {
      padding: 0;
    }

    .task-form {
      width: 80%;
    }

    .task-list {
      width: 100%;
    }

    .task {
      width: 100%;
    }

    .add-taskbtn {
      width: 100%;
    }

    .add-taskbtn .add-symbol {
      width: 30px;
      height: 30px;
      font-size: 40px;
    }

    .add-taskbtn .add-task {
      font-size: 16px;
    }

    .project-form {
      width: 60%;
      height: 40%;
      transform: translate(-50%, -50%);
    }

    .project-form h2 {
      font-size: 20px;
    }

    .project-form label {
      font-size: 16px;
    }

    .project-form .project-title {
      font-size: 20px;
    }

    .project-form select {
      font-size: 16px;
    }

    .project-form select option {
      font-size: 16px;
    }

    .projects-list {
      width: 100%;
    }

    .project {
      width: 100%;
    }

    .project-title {
      font-size: 16px;
    }

    .delete-project {
      font-size: 20px;
    }

    .delete-project:hover {
      animation: none;
    }

    .menu-button {
      width: 30px;
      height: 25px;
    }

    .menu-button img {
      width: 20px;
      height: 25px;
    }

    .logo h1 {
      font-size: 16px;
    }

    .user img {
      width: 30px;
      height: 30px;
    }

    .sidebar .default img {
      width: 25px;
      height: 25px;
    }
  }